.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}

nav.active{
	box-shadow: 5px 10px 30px rgba(0, 247, 255, 0.157);
	background-color: #ffffff;
}

.active{
    background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
	transition: all ease 0.2s;
}

.navbar>img{
    width: 90px;
    margin-left: 4rem;
}

.navList{
    width :20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.navList>li>a{
    font-family: calibri;
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#000000;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

.navList>li>a:hover{
	background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
	transition: all ease 0.2s;
}


.navList>li{
    list-style-type: none;
}



@media (max-width: 990px) {
    .navList{
        display: none;
    }
}



