.main{
    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background.png);
}

.content{
    font-family: 'Montserrat';
	/* width: 500px; */
	position: absolute;
    left: 22%;
	top: 50%;
	transform: translate(-22%,-50%);
}

.name {
    
    /* transform: translate(-22%,-50%); */
    font-family: 'Montserrat';
    width: 500px;
    font-weight: 600;
}

.name>span {
    color: #00b7ff;
}

.description{
    position: relative;
    /* transform: translate(-22%,-50%); */
    font-family: 'Montserrat';
    width: 400px;
    font-weight: 400;
    /* color: #00b7ff; */
    color: rgb(136, 134, 134);
}

/* .name .description {
    color: #969696;
} */

.btn{
    padding:0 0.5em;
    text-decoration: none;
	width:110px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #00b7ff;
    box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
    border-radius: 10px;
	color:#ffffff;
}

.btn:hover{
	background-color: #0099ff;
    transition: all ease 0.5s;
    color: #ffffff;
}

@media (max-width: 990px) {
    
    /* .content{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    } */

    .main{
        background-image: none !important;
    }

    .content{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

    /* .name{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    } */

    .btn{
        margin-left: 27%;
        margin-top: 20px;
    }
    
    
}

@media(max-width:600px){
	.name{
		width:60%;
    }}
    


